<%- include('partials/header') %>
<section class="py-5">
    <img src="/public/images/images.jpg" alt="..." class="img-thumbnail">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<span class="text-muted">Our Story</span>
				<h2 class="display-5 fw-bold">About Us</h2>
			</div>
			<div class="col-md-6 offset-md-1">
				<p class="h1" >Welcome to E-waste Trading: Turning E-Waste into Opportunity</p>
				<p class="lead">At E-waste Trading, we help individuals and businesses trade, recycle, or repurpose electronic waste responsibly. Our mission is to reduce environmental harm, promote a circular economy, and make e-waste disposal effortless.</p>
                <p class="h2">What We Offer:</p>
                <ul>
                    <li>Sell or Donate: Turn unused electronics into cash or donations.</li>
                    <li>Recycling Services: Ensure ethical, eco-friendly recycling.</li>
                    <li>Refurbished Devices: Buy quality electronics at lower prices.</li>
                    <li>Corporate Solutions: Customized e-waste management for businesses.</li>
                </ul>
                <p clas="font-italic">Join us in building a greener future by giving your gadgets a second life. Start today with E-waste Trading!</p>
			</div>
		</div>
	</div>
</section>
<%- include('partials/footer') %>