<%- include('partials/header') %>
    <main class="conttainer my-5">
        <div>
        <img src="/public/images/images.jpg" class="img-fluid" alt="thumbnail" style="max-width: 100%; height: auto;">
        <blockquote class="blockquote text-center">
        <h1>Welcome to E-Waste Trading</h1>
        <p>Your one-stop solution for buying and selling electronic waste responsibly.</p>
        
        <a href="/product/list" class="btn">Explore Products</a>
    </blockquote>
        </div>
    </main>
<%- include('partials/footer') %>