<%- include('partials/header') %>
    <main>
        <blockquote class="blockquote text-center">
        <h1 class="text-center">Our Services</h1>
        <ul>
            <li>Buy and sell e-waste products</li>
            <li>Recycling solutions</li>
            <li>Environmental impact reports</li>
            <li>Consultation for sustainable practices</li>
        </ul>
    </blockquote>
    </main>
<%- include('partials/footer') %>